KEY = your_encryption_key

# For SQL_SERVER variable
# Local -> Name of your SSMS server (ex: DESKTOP-ABC\SQLEXPRESS)
# Docker -> Just write a name you want, doesn't matter

SQL_SERVER = find_name_in_sql-server-management-studio_field_"server-name"_when-connecting
SQL_PASSWORD = your_password
SQL_DATABASE = your_db_name
SQL_TABLES = dimDate,dimTicker,Fact_yfinance,Fact_TechnicalIndicators,Fact_Prediction
KNIME_API_ID = your_API_id
KNIME_API_PASSWORD = your_API_password