KEY = your_encryption_key
SQL_SERVER = find_name_in_sql-server-management-studio_field_"server-name"_when-connecting
SQL_DATABASE = your_db_name
SQL_TABLES = dimDate,dimTicker,Fact_yfinance,Fact_TechnicalIndicators,Fact_Prediction